<?xml version="1.0" ?>
<config>
    <modules>
        <ISM_News>
            <version>0.0.1</version>
        </ISM_News>
    </modules>

    <frontend>

        <!--add layout-->
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
        <!--end/add layout-->

        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>ISM_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
    </frontend>

    <global>
        <blocks>
            <news>
                <class>ISM_News_Block</class>
            </news>
        </blocks>
        <!--name table-->
        <models>
            <news>
                <class>ISM_News_Model</class>
                <resourceModel>news_resource</resourceModel>
            </news>
            <news_resource>
                <class>ISM_News_Model_Resource</class>
                <entities>
                    <entity>
                        <table>news</table>
                    </entity>
                </entities>
            </news_resource>
        </models>
        <!--end name table-->
        <helpers>
            <news>
                <class>ISM_News_Helper</class>
            </news>
        </helpers>
        <resources>
            <news_setup>
                <setup>
                    <module>ISM_News</module>
                </setup>
            </news_setup>
        </resources>
    </global>

    <!--add back-->
    <admin>
        <routers>
            <news_admin>
                <use>admin</use>
                <args>
                    <module>ISM_News</module>
                    <frontName>news_admin</frontName>
                </args>
            </news_admin>
        </routers>
    </admin>
    <!--/add back-->

    <!--меню Адмінки-->
    <adminhtml>
        <menu>
            <news module="news">
                <title>News</title>
                <sort_order>77</sort_order>
                <action>news_admin/adminhtml_news</action>
            </news>
        </menu>
    </adminhtml>
    <!--/меню Адмінки-->

</config>