<?xml version="1.0"?>
<config>
    <modules>
        <ISM_NewstoreMember>
            <version>0.0.1</version>
        </ISM_NewstoreMember>
    </modules>
    <global>
        <helpers>
            <newstoremember>
                <class>ISM_NewstoreMember_Helper</class>
            </newstoremember>
        </helpers>
        <blocks>
            <newstoremember>
                <class>ISM_NewstoreMember_Block</class>
            </newstoremember>
            <adminhtml>
                <rewrite>
                    <customer_group_edit>ISM_NewstoreMember_Block_Adminhtml_Customer_Group_Edit</customer_group_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <newstoremember>
                <class>ISM_NewstoreMember_Model</class>
                <resourceModel>newstoremember_resource</resourceModel>
            </newstoremember>
            <newstoremember_resource>
                <class>ISM_NewstoreMember_Model_Resource</class>
                <entities>
                    <newstoremember>
                        <table>ism_newstoremember_numbers</table>
                    </newstoremember>
                </entities>
            </newstoremember_resource>
        </models>
        <resources>
            <newstoremember_setup>
                <setup>
                    <module>ISM_NewstoreMember</module>
                    <!--<class>Mage_Catalog_Model_Resource_Setup</class>-->
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newstoremember_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ISM_NewstoreMember_Adminhtml before="Mage_Adminhtml">ISM_NewstoreMember_Adminhtml</ISM_NewstoreMember_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
