<?xml version="1.0"?>
<config>
    <modules>
        <ISM_NewstoreMember>
            <version>0.0.1</version>
        </ISM_NewstoreMember>
    </modules>
    <global>
        <helpers>
            <newstoremember>
                <class>ISM_NewstoreMember_Helper</class>
            </newstoremember>
        </helpers>
        <blocks>
            <newstoremember>
                <class>ISM_NewstoreMember_Block</class>
            </newstoremember>
            <adminhtml>
                <rewrite>
                    <customer_group_edit>ISM_NewstoreMember_Block_Adminhtml_Customer_Group_Edit</customer_group_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <newstoremember>
                <class>ISM_NewstoreMember_Model</class>
                <resourceModel>newstoremember_resource</resourceModel>
            </newstoremember>
            <newstoremember_resource>
                <class>ISM_NewstoreMember_Model_Resource</class>
                <entities>
                    <newstoremember>
                        <table>ism_newstoremember_numbers</table>
                    </newstoremember>
                </entities>
            </newstoremember_resource>
            <customer_resource>
                <rewrite>
                    <customer_collection>ISM_NewstoreMember_Model_Resource_Customer_Collection</customer_collection>
                </rewrite>
            </customer_resource>
        </models>
        <resources>
            <newstoremember_setup>
                <setup>
                    <module>ISM_NewstoreMember</module>
                    <!--<class>Mage_Catalog_Model_Resource_Setup</class>-->
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newstoremember_setup>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <newstoremember_catalog_product_save_before>
                        <type>model</type>
                        <class>newstoremember/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </newstoremember_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
            <customer_save_before>
                <observers>
                    <newstoremember_adminhtml_customer_prepare_save>
                        <type>model</type>
                        <class>newstoremember/observer</class>
                        <method>customerSaveBefore</method>
                    </newstoremember_adminhtml_customer_prepare_save>
                </observers>
            </customer_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ISM_NewstoreMember_Adminhtml before="Mage_Adminhtml">ISM_NewstoreMember_Adminhtml</ISM_NewstoreMember_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <order_view>
                    <file>newstoremember.xml</file>
                </order_view>
            </updates>
        </layout>
        <events>

            <!--<adminhtml_customer_prepare_save>-->
            <!--<observers>-->
            <!--<newstoremember_adminhtml_customer_prepare_save>-->
            <!--<type>model</type>-->
            <!--<class>newstoremember/observer</class>-->
            <!--<method>customerSaveBefore</method>-->
            <!--</newstoremember_adminhtml_customer_prepare_save>-->
            <!--</observers>-->
            <!--</adminhtml_customer_prepare_save>-->
            <!--<catalog_product_import_finish_before>-->
            <!--<observers>-->
            <!--<newstoremember_catalog_product_import_finish_before>-->
            <!--<type>model</type>-->
            <!--<class>newstoremember/observer</class>-->
            <!--<method>catalogProductImportFinishBefore</method>-->
            <!--</newstoremember_catalog_product_import_finish_before>-->
            <!--</observers>-->
            <!--</catalog_product_import_finish_before>-->
        </events>
    </adminhtml>
    <frontend>
        <events>
            <!--<checkout_type_onepage_save_order_after>-->
            <!--<observers>-->
            <!--<newstoremembers_checkout_type_onepage_save_order_after>-->
            <!--<type>model</type>-->
            <!--<class>newstoremember/observer</class>-->
            <!--<method>checkoutTypeOnepageSaveOrderAfter</method>-->
            <!--</newstoremembers_checkout_type_onepage_save_order_after>-->
            <!--</observers>-->
            <!--</checkout_type_onepage_save_order_after>-->
            <!--<customer_login>-->
            <!--<observers>-->
            <!--<newstoremembers_customer_login>-->
            <!--<type>model</type>-->
            <!--<class>newstoremember/observer</class>-->
            <!--<method>newstoremembersCustomerLogin</method>-->
            <!--</newstoremembers_customer_login>-->
            <!--</observers>-->
            <!--</customer_login>-->
        </events>
        <layout>
            <updates>
                <newstoremember>
                    <file>newstoremember.xml</file>
                </newstoremember>
            </updates>
        </layout>
        <routers>
            <newstoremember>
                <use>standard</use>
                <args>
                    <module>ISM_NewstoreMember</module>
                    <frontName>newstoremember</frontName>
                </args>
            </newstoremember>
        </routers>
    </frontend>
</config>
