<?xml version="1.0"?>
<config>
    <modules>
        <ISM_NewstoreMembers>
            <version>0.0.1</version>
        </ISM_NewstoreMembers>
    </modules>
    <global>
        <helpers>
            <newstoremembers>
                <class>ISM_NewstoreMembers_Helper</class>
            </newstoremembers>
        </helpers>
        <blocks>
            <newstoremembers>
                <class>ISM_NewstoreMembers_Block</class>
            </newstoremembers>
        </blocks>
        <models>
            <newstoremembers>
                <class>ISM_NewstoreMembers_Model</class>
                <resourceModel>newstoremembers_resource</resourceModel>
            </newstoremembers>
            <newstoremembers_resource>
                <class>ISM_NewstoreMembers_Model_Resource</class>
                <entities>
                    <table_newstoremembers>
                        <table>ism_newstoremembers_entities</table>
                    </table_newstoremembers>
                </entities>
            </newstoremembers_resource>
        </models>
        <resources>
            <newstoremembers_setup>
                <setup>
                    <module>ISM_NewstoreMembers</module>
                </setup>
            </newstoremembers_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <newstoremembers_admin>
                <use>admin</use>
                <args>
                    <module>ISM_NewstoreMembers</module>
                    <frontName>newstoremembers_admin</frontName>
                </args>
            </newstoremembers_admin>
        </routers>
    </admin>
</config>
