<?xml version="1.0"?>
<config>
    <modules>
        <ISM_NewstoreMembers>
            <version>0.0.1</version>
        </ISM_NewstoreMembers>
    </modules>
    <global>
        <helpers>
            <newstoremembers>
                <class>ISM_NewstoreMembers_Helper</class>
            </newstoremembers>
        </helpers>
        <blocks>
            <newstoremembers>
                <class>ISM_NewstoreMembers_Block</class>
            </newstoremembers>
        </blocks>
        <models>
            <newstoremembers>
                <class>ISM_NewstoreMembers_Model</class>
                <resourceModel>newstoremembers_resource</resourceModel>
            </newstoremembers>
            <newstoremembers_resource>
                <class>ISM_NewstoreMembers_Model_Resource</class>
                <entities>
                    <newstoremembers>
                        <table>ism_newstoremembers_numbers</table>
                    </newstoremembers>
                </entities>
            </newstoremembers_resource>
        </models>
        <resources>
            <newstoremembers_setup>
                <setup>
                    <module>ISM_NewstoreMembers</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </newstoremembers_setup>
        </resources>
        <fieldsets>
            <customer_account>
                <prev_group_id>
                    <create>1</create>
                    <update>1</update>
                </prev_group_id>
            </customer_account>
        </fieldsets>
        <!--<fieldsets>-->
            <!--<sales_convert_quote>-->
                <!--<newstoremembers_number>-->
                    <!--<create>1</create>-->
                    <!--<update>1</update>-->
                    <!--<to_order>*</to_order>-->
                <!--</newstoremembers_number>-->
            <!--</sales_convert_quote>-->
        <!--</fieldsets>-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ISM_NewstoreMembers_Adminhtml before="Mage_Adminhtml">ISM_NewstoreMembers_Adminhtml</ISM_NewstoreMembers_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <order_view>
                    <file>newstoremembers.xml</file>
                </order_view>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <newstoremembers_checkout_type_onepage_save_order_after>
                        <type>model</type>
                        <class>newstoremembers/observer</class>
                        <method>checkoutTypeOnepageSaveOrderAfter</method>
                    </newstoremembers_checkout_type_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <layout>
            <updates>
                <newstoremembers>
                    <file>newstoremembers.xml</file>
                </newstoremembers>
            </updates>
        </layout>
        <routers>
            <newstoremembers>
                <use>standard</use>
                <args>
                    <module>ISM_NewstoreMembers</module>
                    <frontName>newstoremembers</frontName>
                </args>
            </newstoremembers>
        </routers>
    </frontend>
    <!--<crontab>-->
        <!--<jobs>-->
            <!--<newstoremembers>-->
                <!--<schedule>-->
                    <!--<cron_expr>0 1 * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>newstoremembers/observer::dailyCatalogUpdate</model>-->
                <!--</run>-->
            <!--</newstoremembers>-->
        <!--</jobs>-->
    <!--</crontab>-->
</config>
