<?xml version="1.0"?>
<config>
    <modules>
        <ISM_DeliveryAt>
            <version>0.1.0</version>
        </ISM_DeliveryAt>
    </modules>
    <global>
        <helpers>
            <deliveryat>
                <class>ISM_DeliveryAt_Helper</class>
            </deliveryat>
        </helpers>
        <models>
            <deliveryat>
                <class>ISM_DeliveryAt_Model</class>
            </deliveryat>
        </models>
        <resources>
            <deliveryat_setup>
                <setup>
                    <module>ISM_DeliveryAt</module>
                </setup>
            </deliveryat_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <deliverydate>
                    <to_order>deliverydate</to_order>
                </deliverydate>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <deliveryat>
                        <type>model</type>
                        <class>deliveryat/observer</class>
                        <method>checkoutControllerOnepageSaveShippingMethod</method>
                    </deliveryat>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <layout>
            <updates>
                <shipping_method>
                    <file>deliveryat.xml</file>
                </shipping_method>
            </updates>
        </layout>
        <routers>
            <deliveryat>
                <use>standard</use>
                <args>
                    <module>ISM_DeliveryAt</module>
                    <frontName>deliveryat</frontName>
                </args>
            </deliveryat>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <order_view>
                    <file>deliveryat.xml</file>
                </order_view>
            </updates>
        </layout>
    </adminhtml>
</config>
